@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
  background-image: url("images/5.jpeg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: 50px;
    background-color: #191b28;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
    margin-left: 450px;
    background-image: url("images/85585d27229af16.jpg");
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #f6f6fa;
    border: solid black 0.5px;
    color: black;
    border-radius: 2px;
    width: 90%;
    height: 55%;

}

#btn {
    background-color: #f07853;
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #90d2df;
    color: rgb(66, 47, 47);
    border: solid black 0.5px;
    width: 90%;
    border-radius: 5px;
    height: 60%;
    padding: 20px;
    outline: none;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
